html,
body,
input {
  margin: 0;
  font-family: Menlo, "Ubuntu Mono", Consolas, "Courier New", Microsoft Yahei, Hiragino Sans GB, WenQuanYi Micro Hei, sans-serif;
}
a {
  display: inline-block;
}
body {
  min-width: 1280px;
}
input {
  outline: none;
}
.icon-btn {
  cursor: pointer;
}
.icon-btn:hover {
  opacity: 1;
}
.btn {
  cursor: pointer;
}
*:focus {
  outline: 0;
}
*::selection {
  background: #2a2a2a;
  color: #fff;
}
*::-moz-selection {
  background: #2a2a2a;
  color: #fff;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.gradient {
  background: rgba(0, 0, 0, 0);
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0.5)));
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
  background: -ms-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
}
.blur {
  -webkit-filter: blur(2px);
  -moz-filter: blur(2px);
  -ms-filter: blur(2px);
  filter: blur(2px);
}
.animate {
  transition-property: opacity;
  transition-duration: 0.2s;
  transition-timing-function: ease-out;
}
.clear {
  clear: both;
}
input::-webkit-input-placeholder {
  color: #ccc;
  font-style: italic;
}
input:-moz-placeholder {
  color: #ccc;
  font-style: italic;
}
input::-moz-placeholder {
  color: #ccc;
  font-style: italic;
}
input:-ms-input-placeholder {
  color: #ccc;
  font-style: italic;
}
.contenteditable[contenteditable]:empty {
  line-height: 35px;
  margin-top: 10px;
}
.contenteditable[contenteditable]:empty:before {
  color: #ccc;
  font-style: italic;
  cursor: text;
}
#notify {
  transition-property: opacity;
  transition-duration: 0.2s;
  transition-timing-function: ease-out;
  position: fixed;
  color: #fff;
  padding: 5px 30px;
  background-color: #000;
  left: 50%;
  opacity: 0;
  top: 30px;
  text-align: center;
  border: 1px #333 solid;
  border-radius: 4px;
  pointer-events: none;
}
#notify.show {
  opacity: 1;
}
.tipsy {
  font-size: 12px;
  position: absolute;
  padding: 5px;
  z-index: 100000;
}
.tipsy-inner {
  background-color: #000;
  color: #FFF;
  max-width: 200px;
  padding: 5px 8px 4px 8px;
  text-align: center;
}
/* Rounded corners */
.tipsy-inner {
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
}
/* Uncomment for shadow */
/*.tipsy-inner { box-shadow: 0 0 5px #000000; -webkit-box-shadow: 0 0 5px #000000; -moz-box-shadow: 0 0 5px #000000; }*/
.tipsy-arrow {
  position: absolute;
  width: 0;
  height: 0;
  line-height: 0;
  border: 5px dashed #000;
}
/* Rules to colour arrows */
.tipsy-arrow-n {
  border-bottom-color: #000;
}
.tipsy-arrow-s {
  border-top-color: #000;
}
.tipsy-arrow-e {
  border-left-color: #000;
}
.tipsy-arrow-w {
  border-right-color: #000;
}
.tipsy-n .tipsy-arrow {
  top: 0px;
  left: 50%;
  margin-left: -5px;
  border-bottom-style: solid;
  border-top: none;
  border-left-color: transparent;
  border-right-color: transparent;
}
.tipsy-nw .tipsy-arrow {
  top: 0;
  left: 10px;
  border-bottom-style: solid;
  border-top: none;
  border-left-color: transparent;
  border-right-color: transparent;
}
.tipsy-ne .tipsy-arrow {
  top: 0;
  right: 10px;
  border-bottom-style: solid;
  border-top: none;
  border-left-color: transparent;
  border-right-color: transparent;
}
.tipsy-s .tipsy-arrow {
  bottom: 0;
  left: 50%;
  margin-left: -5px;
  border-top-style: solid;
  border-bottom: none;
  border-left-color: transparent;
  border-right-color: transparent;
}
.tipsy-sw .tipsy-arrow {
  bottom: 0;
  left: 10px;
  border-top-style: solid;
  border-bottom: none;
  border-left-color: transparent;
  border-right-color: transparent;
}
.tipsy-se .tipsy-arrow {
  bottom: 0;
  right: 10px;
  border-top-style: solid;
  border-bottom: none;
  border-left-color: transparent;
  border-right-color: transparent;
}
.tipsy-e .tipsy-arrow {
  right: 0;
  top: 50%;
  margin-top: -5px;
  border-left-style: solid;
  border-right: none;
  border-top-color: transparent;
  border-bottom-color: transparent;
}
.tipsy-w .tipsy-arrow {
  left: 0;
  top: 50%;
  margin-top: -5px;
  border-right-style: solid;
  border-left: none;
  border-top-color: transparent;
  border-bottom-color: transparent;
}
