#index {
  width: 1040px;
  height: 560px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -520px;
  margin-top: -280px;
}
#index .header {
  height: 80px;
}
#index .logo {
  width: 174px;
  height: 75px;
  float: left;
  background: url(../img/logo.png) no-repeat;
}
#index .author {
  right: 200px;
  top: 17px;
  position: absolute;
}
#index .author .avatar {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  border: 1px #eee solid;
  float: left;
}
#index .author .author-info {
  float: left;
  margin-top: 9px;
  margin-left: 16px;
}
#index .author .author-info .nick {
  font-size: 18px;
  font-weight: bold;
  color: #555;
}
#index .author .author-info .mail {
  margin-top: 0px;
  color: #aaa;
  line-height: 22px;
  font-size: 14px;
}
#index .form {
  float: right;
  margin-top: 35px;
}
#index .form .login {
  float: right;
}
#index .form .login .switch {
  float: left;
  margin-right: 40px;
  margin-top: 3px;
}
#index .form .login .switch div,
#index .form .login .switch span {
  float: left;
}
#index .form .login .switch .btn {
  color: #bbb;
  cursor: pointer;
}
#index .form .login .switch .btn:hover {
  opacity: 0.8;
}
#index .form .login .switch .btn.active {
  color: #333;
  cursor: default;
}
#index .form .login .switch .btn.active:hover {
  opacity: 1;
}
#index .form .login .switch .icon-github-circled {
  float: left;
  font-size: 30px;
  margin-right: 10px;
  margin-top: -11px;
  cursor: pointer;
}
#index .form .login .switch .icon-github-circled:hover {
  color: #333;
}
#index .form .login .switch .register-btn {
  margin-right: 10px;
}
#index .form .login .switch .login-btn {
  margin-left: 10px;
}
#index .form span {
  font-size: 16px;
  font-weight: bold;
}
#index .form input {
  font-size: 16px;
  padding: 2px 6px;
  border: 0;
  width: 150px;
  font-style: italic;
  margin-right: 5px;
  background-color: transparent;
}
#index .form .submit {
  margin-left: 20px;
  padding: 10px 15px;
  background-color: transparent;
  border: 2px #000 solid;
  border-radius: 3px;
  float: right;
  margin-top: -12px;
  width: 137px;
  height: 45px;
  background-image: url(../img/submit.png);
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}
#index .form .submit:hover {
  background-color: #f4f4f4;
}
#index .content {
  width: 100%;
  height: 424px;
  margin-top: 25px;
  background-color: #000;
  border-radius: 8px;
  background: url(../img/bg.jpg);
}
#index .cover {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  color: #fff;
  background: url(../img/cover.png);
}
#index .cover .bg-nav {
  font-size: 24px;
  position: absolute;
  right: 0px;
  bottom: 0px;
  margin-right: 15px;
  margin-bottom: 48px;
}
#index .cover .bg-nav .icon-btn {
  cursor: pointer;
  opacity: 0.6;
}
#index .cover .bg-nav .icon-btn:hover {
  opacity: 0.8;
}
#index .cover .bg-info {
  font-size: 14px;
  position: absolute;
  left: 0px;
  bottom: 0px;
  margin-left: 20px;
  margin-bottom: 48px;
  opacity: 0.6;
}
#index .footer {
  margin-top: 10px;
}
#index .footer a {
  font-weight: bold;
  text-decoration: none;
  font-size: 14px;
  color: #9c9c9c;
}
#index .footer a:hover {
  color: #b1b1b1;
}
#index .footer .footer-left {
  float: left;
}
#index .footer .footer-left a {
  margin-right: 5px;
}
#index .footer .footer-right {
  float: right;
}
#index .footer .footer-right a {
  float: right;
  margin-left: 5px;
}
